.content {
  @apply flex-1 flex flex-col gap-8;
  padding: 2rem;

  @media (max-width: 767px) {
    padding: 1.25rem 1rem;
  }
}

.errorMessage {
  @apply text-alert bg-health-bg border border-red-300 rounded-lg;
  padding: 0.75rem 1rem;
  font-size: 0.9375rem;
}
